ENVIRONMENT=prod
DRIVER=~fastapi+~httpx+~websockets

SUPERUSERS=["1145141919810"]
ONEBOT_ACCESS_TOKEN=1145141919810

AI_AGENT__ENABLED=false
AI_AGENT__API_KEY="YOUR_OPENROUTER_API_KEY_HERE"
AI_AGENT__MODEL="google/gemini-3.1-flash-lite-preview"
AI_AGENT__BASE_URL="https://openrouter.ai/api/v1"
AI_AGENT__TEMPERATURE=0.3
AI_AGENT__MAX_TOKENS=1024
AI_AGENT__SYSTEM_PROMPT="你是一个 AI 助手，你的名字叫草莓。请优先用简洁但准确、自然、亲和的中文回答。"
AI_AGENT__FIRST_AI_MESSAGE="你好呀，我是草莓。有什么可以帮你的吗？"

LOCALSTORE_CACHE_DIR="/path/to/hlcm-bot-localstore/cache"
LOCALSTORE_DATA_DIR="/path/to/hlcm-bot-localstore/data"
LOCALSTORE_CONFIG_DIR="/path/to/hlcm-bot-localstore/config"
BOT_FILE_MOUNT_HOST_ROOT="/path/to/hlcm-bot-localstore"
BOT_FILE_MOUNT_CONTAINER_ROOT="/app/napcat-shared"

SDVX_CHART__RESOURCE_ROOT = "/path/to/hlcm-bot-resources/sdvx_chart"
SDVX_CHART__MUSIC_DB_PATH = "/path/to/hlcm-bot-resources/sdvx_chart/others/music_db.xml"
SDVX_CHART__CHART_ROOT = "/path/to/hlcm-bot-resources/sdvx_chart/music"
SDVX_CHART__GAIJI_MAP_PATH = "/path/to/hlcm-bot-resources/sdvx_chart/gaiji_map.json"
SDVX_CHART__ALIASES_PATH = "/path/to/hlcm-bot-resources/sdvx_chart/aliases.json"

NITTER_NEWS__DS_API_URL = "https://ark.cn-beijing.volces.com/api/v3"
NITTER_NEWS__DS_API_KEY = "YOUR_DS_API_KEY_HERE"
NITTER_NEWS__DS_MODEL_NAME = "deepseek-v3-2-251201"
NITTER_NEWS__PROXY = {"http":"127.0.0.1:7897", "https":"127.0.0.1:7897"}

TWITTER_VIDEO_DOWNLOADER__WHITELIST = ["1145141919810"]

GITHUB_RELEASE_DOWNLOADER__PUSH_GROUP = ["1145141919810"]
