ENVIRONMENT=prod
DRIVER=~fastapi+~httpx+~websockets

SUPERUSERS=["1145141919810"]
ONEBOT_ACCESS_TOKEN=1145141919810

LOCALSTORE_CACHE_DIR="/path/to/hlcm-bot-localstore/cache"
LOCALSTORE_DATA_DIR="/path/to/hlcm-bot-localstore/data"
LOCALSTORE_CONFIG_DIR="/path/to/hlcm-bot-localstore/config"
BOT_FILE_MOUNT_HOST_ROOT="/path/to/hlcm-bot-localstore"
BOT_FILE_MOUNT_CONTAINER_ROOT="/app/napcat-shared"

SDVX_CHART__RESOURCE_ROOT = "/path/to/hlcm-bot-resources/sdvx_chart"
SDVX_CHART__MUSIC_DB_PATH = "/path/to/hlcm-bot-resources/sdvx_chart/others/music_db.xml"
SDVX_CHART__CHART_ROOT = "/path/to/hlcm-bot-resources/sdvx_chart/music"
SDVX_CHART__GAIJI_MAP_PATH = "/path/to/hlcm-bot-resources/sdvx_chart/gaiji_map.json"
SDVX_CHART__ALIASES_PATH = "/path/to/hlcm-bot-resources/sdvx_chart/aliases.json"

NITTER_NEWS__DS_API_URL = "https://ark.cn-beijing.volces.com/api/v3"
NITTER_NEWS__DS_API_KEY = "YOUR_DS_API_KEY_HERE"
NITTER_NEWS__DS_MODEL_NAME = "deepseek-v3-2-251201"
NITTER_NEWS__PROXY = {"http":"127.0.0.1:7897", "https":"127.0.0.1:7897"}

TWITTER_VIDEO_DOWNLOADER__WHITELIST = ["1145141919810"]

GITHUB_RELEASE_DOWNLOADER__PUSH_GROUP = ["1145141919810"]